@model IEnumerable<Infrastructure.IEmployee>

<html>
<head>
    <title>TrueLogic Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="@Url.Action("EmployeeList")" method="get">
        <label for="employeeId">Employee ID:</label>
        <input type="text" id="employeeId" name="employeeId"><br><br>
        <input type="submit" value="Submit">
    </form>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contract Type</th>
                    <th>Role</th>
                    <th>Role description</th>
                    <th>Hourly salary</th>
                    <th>Monthly salary</th>
                    <th>Annual salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <th>@employee.id</th>
                        <th>@employee.name</th>
                        <th>@employee.contractTypeName</th>
                        <th>@employee.roleName</th>
                        <th>@employee.roleDescription</th>
                        <th>@employee.hourlySalary</th>
                        <th>@employee.monthlySalary</th>
                        <th>@employee.annualSalary</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>